//
@import './partials/reset';
@import './partials/header';
@import './partials/footer';
@import './partials/main';

.container {
    width: 85%;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}